@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
body{
  overflow-x: hidden;
  background: rgb(0, 0, 0)
}


nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #000000;
  box-shadow: 0px 15px 52px rgb(6, 25, 76);
  z-index: 9999;
  top: -50px;
}
nav.sticky{
  position: fixed;
  top: -5px;
  left: 0;
}
.logo{
  letter-spacing: 5px;
  font-size: 30px;
  font-weight: 500;
}
.logo a{
  text-decoration: none;
  color: rgb(81, 159, 133);
}
.nav-links{
  display:flex ;
  justify-content: space-around;
  width: 50%;
  font-weight: 400;
  position: relative;
  top: 8px;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
color:rgb(39, 108, 108);
text-decoration: none;
letter-spacing: 3px;
font-weight: bold;
font-size: 19px;
transition: 0.2s;
height: 50px;
width: 100%;
line-height: 3px;
transition: 0.3s;
position: relative;
top: 5px;
}
.nav-links a:hover{
color: rgb(222, 245, 237);
transform: scale(1.5);
}
.burger{
  display: none;
}
.burger div{
  width: 25px;
  height: 3px;
  background-color: rgb(37, 58, 58);
  margin: 5px;
}

@media screen and (max-width:1200px) {
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top:4vh;
    background-color: #e3dee1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-out;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }
}
.nav-active{
  transform: translateX(0%);
}
@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0  ;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}
.content{
  position: relative;
  width: 100%;
  height: 100vh;
  top: -70px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('globe1.jpg');
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: white;
}

.content nav{
  width: 100%;
}
.row{
  display:flex;
  flex-wrap:wrap;
}
.m1{
  position: relative;
  left:370px;
  top: 100px;
}
.m1 h1{
  display: block;
  justify-content: flex-start;
  background: linear-gradient(to right, #ff0000, #00ff00, #0000ff); /* specify your desired gradient colors */
  background-clip: text;
  -webkit-background-clip: text; /* for Safari */
  color: transparent;
  align-items: center;
  padding: 50px;
  line-height: 1.2;
  font-family: 'Righteous', cursive;
  letter-spacing: 4px;
  margin-bottom: 20px;
  text-align: justify;
  font-size: 60px;
  animation: animate linear infinite 5s;
  transition: 0.5s ease-in;
}
.m1 h4{
  color: rgb(179, 151, 151);
  position: relative;
  top: -20px;
  left: 50px;
  font-size: 20px;
  justify-content: center;
}
.m2{
  padding: 15px 30px;
  display: inline-block;
  font-size: 16px;
  color: rgb(183, 173, 165);
  border-radius: 4px;
  transition: ease .40s;
  align-items: center;
  text-decoration: none;
  position: relative;
  left:270px;
  top: 167px;
  transition: 0.5s;
  backdrop-filter:blur(2px);
  border: 2px solid rgb(43, 148, 179);

}
.m2 a{
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-weight: 1000;
  font-family: 'Righteous', cursive;
  font-size: 55px;
}

.container{
  max-width:1170px;
  margin:auto;
}
.row{
  display:flex;
  flex-wrap:wrap;
}
ul{
  list-style:none;
}
.footer{
  background-color:#0e162b;
  padding: 40px 0;
  clear:both;
  position: absolute;
  bottom:-760%;
  width: 100%;
}
.footer-col{
  width:25%;
  padding:0 15px;
}
.footer-col{
  font-size:18px;
  color:#f0eff6;
  text-transform:capitalize;
  margin-bottom:35px;
  font-weight:500;
  position:relative;
}
.footer-col h4::before{
  content:'';
  position:absolute;
  left:0;
  bottom:-10px;
  background-color:#3d9bd9;
  height:2px;
  box-sizing:border-box;
  width:50px;
}
.footer-col ui li:not(:last-child){
  margin-bottom:10px;
}
.footer-col ul li a{
  font-size:16px;
  text-transform:capitalize;
  color:#ffffff;
  text-decoration:none;
  font-weight:300;
  display:block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color:#ffffff;
  padding-left:8px;
}
.footer-col .social-links a{
  display: inline-block;
  height:40px;
  width:40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align:center;
  line-height:40px;
  border-radius:50%;
  color:#ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color:#b8bcc7;
  background-color:#ffffff;
}
@media(max-width: 883px){
  .footer-col{
    width:50%;
    margin-bottom:30px;
  }
  .m1{
    position: relative;
    left: 10px;
    top:170px;
    display: flex;
    justify-content: center;
  }
  .m2{
    position: relative;
    left: -230px;
    height: 55px;
    width: 250px;
    top: 140px;
    text-align: center;
  }
}
@media(max-width: 574px){
  .footer-col{
    width:100%;
  }
  .m1 h1{
    text-align: left;
  }
  .m2{
    position: relative;
    left: -440px;
    height: 55px;
    width: 270px;
    top: 130px;
    
  }
  .m2:hover{
    transform: scale(1.01);
  }
}
.content{
  margin-top: 70px ;
  margin-bottom: 100px;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
text{
  font-family: 'Montserrat', sans-serif;
}
.slideshow-container {
  position: relative;
  background-color: black;
  border-radius: 35px;
  box-shadow: 2px 2px 55px black;
  display: flex;
  align-items: center;
  width: 1000px;
  top: -700px;
  flex-direction: row;
  border: 4px solid rgb(43, 148, 179);
}

.slide {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
      opacity: .4
  }

  to {
      opacity: 1
  }
}
.fade img
{
  display: flex;
  justify-content:center;
  height: 300px;
  width: 370px;
  border-radius: 45px;
  transform: scale(0.8);
  transition: 0.5s;
  position: relative;
  left: -305px;

}
.fade img:hover{
  transform: scale(0.83);
  box-shadow: 2px 2px 20px black;

}
.img2{
  position: relative;
  left: 650px;
  top: -140px;
  animation: happy 5s infinite linear;
}
@keyframes happy{
  0%
    {
      transform: scale(1) ;
    }
  50%{
    transform: scale(1.5);
  }
  100%{
    transform: scale(1);

  }
}
.caption {
  position: absolute;
  bottom: 150px;
  left: 500px;
  color: white;
  display: inline-block;
  width: 350px;
  font-family: 'Righteous', cursive;
  letter-spacing: 1.4px;

}
.caption .v1{
  color: white;
  font-size: 60px;
  font-family: 'Righteous', cursive;
  font-weight: 800;
  position: relative;
  top: -190px;
  left: -170px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(63, 52, 52);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  color: rgb(255, 248, 234);
  transform: scale(1.2);
  border-radius: 35px;
}

.indicators {
  text-align: center;
  margin-top: 20px;
  position: relative;
  top: -690px;
  display: inline-block;
  left: 30px;
}

.indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: gray;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50%;
}

.active {
  transform: scale(1.5);
}
.cele{
  position: relative;
  left: 75px;
  top: -100px;
  width: 800px;
  transform: scale(0.8);
}

section{
  display: grid;
  place-items: center;
  align-items: center;
  min-height: 80vh;
  position: relative;
  top: 600px;
}
.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
}
.slideshow-container .v1{
  position: relative;
  top: -150px;
  left: 330px;
  font-family: 'Righteous', cursive;
  font-size: 65px;
  color:rgb(163, 173, 202) ;
  background-color: black;
}
.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.hidden1{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 2s;
}
.hidden1 h2{
  font-family: 'Righteous', cursive;
  font-size: 65px;
  color: rgb(163, 173, 202);
  position: relative;
  top: 75px;
}
.show1{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.multphts{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 650px;
  position: relative;
}
/*Slider images CSS*/
.slider-container2 {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  height: 1200px;
  position: relative;
  top: 350px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-item {
  flex-shrink: 0;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slider-item img {
  max-width: 100%;
  height: auto;
}
  @keyframes animate1
  {
    50%{
      background-image: linear-gradient(to right, rgb(239, 72, 245), rgb(194, 137, 224));
    }
    75%{
      background-image: linear-gradient(to right, rgb(200, 229, 69), rgb(255, 8, 127));
    }
    0%{
      background-image: linear-gradient(to right, rgb(251, 218, 50), rgb(60, 234, 231));
    }
  }
  
  
.dots{
  font-size: 200px;
}
.categories
{
  display: grid;
  grid-template-columns: auto auto auto;
  position: relative;
  top: 300px;
  text-align: center;
  gap: -25px;
  
}
.categories img{
  transition: 0.2s;
  position: relative;
  top: 25px;
}
.cat{
  height: 350px;
  width: 375px;
  scale: 1.0;
  transition: 0.3s;
}
.cat:hover
{
  opacity: 0.3;
}
.categories span{
  font-family: 'Righteous', cursive;
  font-size: 30px;
  position: relative;
  top: -125px;
  color: #ffffff;
}
.cat:nth-child(1){
  transition-delay: 200ms;
}
.cat:nth-child(2){
  transition-delay: 400ms;
}
.cat:nth-child(3){
  transition-delay: 600ms;
}
.cat:nth-child(4){
  transition-delay: 800ms;
}
.cat:nth-child(5){
  transition-delay: 1000ms;
}
.cat:nth-child(6){
  transition-delay: 1200ms;
}
.container1:nth-child(1){
  transition-delay: 200ms;
}
.container1:nth-child(2){
  transition-delay: 400ms;
}
.container1:nth-child(3){
  transition-delay: 600ms;
}
.container1:nth-child(4){
  transition-delay: 800ms;
}
.container1:nth-child(5){
  transition-delay: 1000ms;
}
.container1:nth-child(6){
  transition-delay: 1200ms;
}
.sec2 h2{
  position: relative;
  top: 310px;
  font-family: 'Righteous', cursive;
  font-size: 65px;
  color: rgb(163, 173, 202);
  background-color: black;
  z-index: 9990;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
/* Dropdown button */
.dropbtn {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: relative;
  top: -17px;
  left: -25px;
  backdrop-filter: blur(5px);
  height: 25px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  width: 145px;
  backdrop-filter: blur(5px);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(244, 237, 237);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  position: relative;
  top: 0px;
  font-size: 15px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  transform: scale(1.1);

}

/* Add animation to the dropdown */
.dropdown-content {
  animation-name: dropdown;
  animation-duration: 0.3s;
}

@keyframes dropdown {
  from {opacity: 0;}
  to {opacity: 1;}
}

.sec3{
  position: relative;
  top: 1750px;
}
.sec3 h2{
  position: relative;
  top: 50px;
  font-family: 'Righteous', cursive;
  font-size: 65px;
  color: rgb(195, 210, 205);
  z-index: 9980;
  background-color: #000000;
}
.currenttrends{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.currenttrends span{
  color: #09c8b1;
}
.cur{
  width: 1300px;
  border: 4px solid rgb(78, 109, 11);
  position: relative;
  height: 300px;
  border-radius: 45px;
  scale: 0.9;
  gap: 5px;

}
.cur img{
  transform: scale(0.8);
}
.cur span{
  font-family: 'Righteous', cursive;
  font-size: 30px;
  position: relative;
  top: -200px;
  color: #ebf5f4;
  transition: 0.3s;
  cursor: pointer;
}
.cur span:hover{
  color: #8db5b1;
  text-decoration: underline;
}
.currenttrends .sp2{
  position: relative;
  left: 327px;
  top: -170px;
  font-size: 22px;
}
.currenttrends .sp3{
  position: relative;
  width: 700px;
  font-size: 20px;
  left: 327px;
  top: -155px;
  color: white;
}

.wrapper1 {
  position: absolute;
  width: 80vw;
  transform: translate(-50%, -50%);
  top: 5250px;
  left: 50%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: 30px;
}
.container1 {
  width: 28vmin;
  height: 28vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0;
  position: relative;
  font-size: 16px;
  border-radius: 0.5em;
  background-color: #16171c;
  border-bottom: 10px solid #18f98f;
}
i {
  color: #18f98f;
  font-size: 2.5em;
  text-align: center;
}
span.num {
  color: #ffffff;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}
span.text {
  color: #e0e0e0;
  font-size: 1em;
  text-align: center;
  pad: 0.7em 0;
  font-weight: 400;
  line-height: 0;
}
@media screen and (max-width: 1024px) {
  .wrapper1 {
    width: 85vw;
  }
  .container1 {
    height: 26vmin;
    width: 26vmin;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper1 {
    width: 90vw;
    flex-wrap: wrap;
    gap: 30px;
  }
  .container1 {
    width: calc(50% - 40px);
    height: 30vmin;
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .wrapper1 {
    gap: 15px;
  }
  .container1 {
    width: 100%;
    height: 25vmin;
    font-size: 8px;
  }
}
.other
{
  position: relative;
  top: 500px;
}