@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
body
{
  background-color: black;
  overflow-x: hidden;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: white;
  display: flexbox;
  justify-content: center;
  align-items: center;
  scale: 8;
  position: relative;
  top: 300px;
  left: 52%;
  opacity: 0.7;
}
.mess h1{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Titillium Web', sans-serif;
  position: relative;
  top: 350px;
  left: 32px;
}
.buttons
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 400px;
  left: -00px;
  gap: 55px;
}
.but
{
  padding: 15px;
  width: 130px;
  color: white;
  background-color: rgb(41, 35, 35);
  font-size: 25px;
  font-family: 'Titillium Web', sans-serif;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  scale: 0.93;
  transition: 0.3s;
  cursor: pointer;
}
.but:hover
{
  background-color: rgb(21, 18, 18);
}
